body{
	background:#fff;
	overflow: hidden;
}
section{
	position: relative;
float: left;}
#intitule{
	width:100%;
	height:20%;
 background: linear-gradient(to top,#300808cc,#8e55554d 100%),linear-gradient(to top,#000c,#0000 25%),url(../images/UI/rockBanner.jpg);
	z-index: 4;
	box-shadow: 0 10px 21px black;
	text-align: center;
	overflow: hidden;
}
.mid{	height:73%;  display: inline-block;overflow: hidden;}
#perso{
	width:25%;
	background: url(../images/UI/toileDark.jpg);
	z-index: 3;
	box-shadow: 0 1px 99px #0006;
}
#infos{
	width:35%;
	background: linear-gradient(to top,#220909,#7c3030);
	box-shadow: 0 60px 111px black inset;
}
#enemis{
	width:40%;
	background: url(../images/UI/woodDark.jpg);
	background-size: 100% 100%;
}
#defensif{
	width:100%;
	height:7%;
	background: linear-gradient(to top,#30080880,#8e555533 100%),linear-gradient(to top,#0006,#0000 55%),url(../images/UI/rockBanner.jpg);
	z-index: 4;
	box-shadow: 0 1px 18px black;
	border-top: 1px solid #c49d96e6;
}
#intituleText{
	color:#d7c9a8;
	font-size: 3vh;
	width: 90%;
	left: 5%;
	position: relative;
	height: 100%;
	overflow: hidden;
	font-family: 'Vollkorn',serif;
	margin-top: 2vh;
	text-shadow: 0 1px 6px #4a0000;
}
.scroll{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  right: -1vw;
}
#vous{
	color:#4d281e;
	font-size:3vw;
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 3vh;
	text-shadow: 0px 1px 9px #460a0a4d;
}
.progression{
	background:linear-gradient(to top, #0003, #0000 50%), #b08c5f;
	width: 85%;
	height: 1vh !important;
	left: 7.5%;
	position:    relative;
}
.progression-value{
	background:linear-gradient(to top, #00053180, #0000 50%),linear-gradient(to bottom, #a5383880, #0000 50%), #972730;
}
#playerVieText{
	width:4vw;
	height:2vw;
	background-color: #0000001a;
	position:absolute;
	right:10%;
	border: 1px solid #0009;
	margin-top: -1px;
	color: white;
	text-align: center;
	font-size: 1.5vw;
}
