#decoTopLeft, #decoTopRight{
  position:  inherit;
  top:0;

  width: calc(50% - 2vw);
  background-repeat: no-repeat;
  z-index: 0;
  background-size: 100% 100%;
}

#decoTopLeft{
  left: -1vw;
}

#decoTopRight{
	left:calc(50% + 3vw);
	top: 0;
}

#decoLeft, #decoRight{
  position: fixed;
  bottom:-4px;
  z-index: 5;
  max-width:25%;
}
#decoRight{right: 0;}
#decoLeftbg, #decoRightbg{
  position: fixed;
  bottom:0px;
  max-width: 25%;
  z-index: 2;
}
#decoRightbg{right: 0;}
