body{
		background-image:linear-gradient(to bottom, hsla(48,42%,71%,0.4) 0%,hsla(0,0%,0%,0) 100%) , url(../images/UI/test.jpg);
		background-size:100% 100%;
}
footer{
	width:100%;
	left:0;
	z-index:5;
}
#container{
	position: fixed;
	width: 70%;
	height: calc(100% - 14vh);
	top:3vh;
	left: 15%;
	/*! box-shadow: 0px 8px 15px #0000004d; */
	border-radius: 10px;
}
.menus{
	height:100%;
	position: absolute;
	box-sizing: border-box;
}
#leftmenu{
	left:20%;
	background:
		linear-gradient(to top,#0006,#0000 40%), linear-gradient(to top,#0000001a,#0000 10%), linear-gradient(to right,#0003,#0000 10%), linear-gradient(0.743turn,#f1f1f133,#0000 20%), url(../images/UI/leather2.jpg);
	width: 45%;
	border-radius: 10px 0 0 10px;
	border: 1px solid #000;
	z-index: 2;
	box-shadow: 0px 8px 21px #0006;
	transition: left 0.3s cubic-bezier(.58,.03,.96,.84);
}
#leftmenu:before{
	width:4vh;
	height:100%;
	background-image: url(../images/UI/shadow.png);
	background-repeat: repeat-y;
	left:100%;
	content: "";
	position: absolute;
	background-size: 100% 100%;
}
#rightmenu{
	right:24%;
	background: linear-gradient(to top,#0006,#0000 50%),linear-gradient(to left,#0000004d,#0000 2vw),url(../images/UI/iron.jpg),url(../images/UI/handle.png);
	width: 55%;
	background-size: calc(100% - 3vw) 100%, calc(100% - 3vw), calc(100% - 3vw) 100%,3vw 100%;
	background-repeat: no-repeat;
	background-position-x: left, left, left, right;
	border-radius: 0 10px 10px 0;
	border: solid #4c3c15;
	border-width: 3px 3px 3px 0;
	box-shadow: 0px 8px 15px #0000004d;
	transition: right 0.3s cubic-bezier(.58,.03,.96,.84);
}
.pocket{
	width:90%;
	height:10vh;
	background:linear-gradient(to top , #0003, #0000 39%),linear-gradient(0.95turn, #0000004d, #0000 39%),linear-gradient(0.45turn, #86766c99, #0000 70%),url(../images./UI/bgPaper.jpg);
	left: 5%;
	position: relative;
	top: 9vh;
	border-radius: 5px;
	margin-bottom: 1vh;
	border: 3px double #6f2121;
	box-shadow: 0px 8px 8px #0003;
}
.invtitle{
	font-size: 4vh;
	position:  absolute;
	width: 40%;
	text-align: center;
	height: 6vh;
	left: calc(30% - 1vw);
	padding-top: 3px;
	background-image: url(../images/UI/parchment.png);
	background-size: 100% 100%;
	top: 1vh;
	font-family: 'Vollkorn', serif;
	color: #7b361f;
	text-shadow: 0px 1px 3px #7b361f99;
	transform: rotate(-1deg);
}
.itemImgB{
	height:9vh;
	width:9vh;
	background-color:#0003;
	border-radius: 5px;
	margin: 0.5vh;
	position: absolute;
}
.armeImgB{left:0;}
.armorImgB{right:0;}

.itemText{
	height:calc(8vh - 2px);
	width:calc(100% - 12vh);
	/*! background-color:#0003; */
	border-radius: 5px;
	margin: 0.5vh;
	position: absolute;
	padding: 0.5vh;
	overflow: hidden;
}
.armeText{right:0;}
.armorText{left:0;}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.2vh;
  font-size: 1.8vh;
  text-rendering: optimizelegibility;
  margin-top: -0.2vh;
	font-family: 'Vollkorn', serif;
}
.itemTitle{
	color:#683925;
	font-weight: bold;
	position: absolute;
}
.itemStat{
	color:black;
	right: 0;
	position: absolute;
}
.itemDesc{
	color:#3b1e11e6;
	font-style: italic;
	display: block;
	margin-top: 2vh;
	position: absolute;
}
.scroll{
	width:100%;height:100%;
	overflow:auto;
	padding-right: 22px;
}
.armorStat{	left:0;}
.armorTitle{ right:0;}
.armorDesc{ right:0;padding-right: 2px;}
.itemList{
	width:60%;
	height:85%;
	background-color:#0006;
	top: 9vh;
	position: absolute;
	left: calc(20% - 1vw);
}
#cattitle{
	font-size: 3vh;
	position:  absolute;
	width: 45%;
	text-align: center;
	height: 4.5vh;
	left: calc(27.25% - 1vw);
	padding-top: 3px;
	background: linear-gradient(to top, #0003, #0000 30%),#c3c3c3;
	top: 1vh;
	font-family: 'Vollkorn', serif;
	color: #000;
	/*! text-shadow: 0px 1px 3px #fff9; */
	border: 3px double black;
}
