html{overflow: hidden;}
body{
		background-image:linear-gradient(to bottom, hsla(48,42%,71%,0.4) 0%,hsla(0,0%,0%,0) 100%) , url(../images/UI/test.jpg);
		background-size:100% 100%;
}
footer{
	width:100%;
	left:0;
	z-index:5;
}
#container{
	position: fixed;
	width: 70%;
	height: calc(100% - 14vh);
	top:3vh;
	left: 15%;
	/*! box-shadow: 0px 8px 15px #0000004d; */
	border-radius: 10px;
}
.menus{
	height:100%;
	position: absolute;
	box-sizing: border-box;
}
#leftmenu{
	left:20%;
	background:
		linear-gradient(to top,#0006,#0000 40%), linear-gradient(to top,#0000001a,#0000 10%), linear-gradient(to right,#0003,#0000 10%), linear-gradient(0.743turn,#f1f1f133,#0000 20%), url(../images/UI/leather2.jpg);
	width: 51%;
	border-radius: 10px 0 0 10px;
	border: 1px solid #000;
	z-index: 2;
	box-shadow: 0px 8px 21px #0009;
	transition: left 0.3s cubic-bezier(.58,.03,.96,.84);
}
#leftmenu:before{
	width:4vh;
	height:100%;
	background-image: url(../images/UI/shadow.png);
	background-repeat: repeat-y;
	left:100%;
	content: "";
	position: absolute;
	background-size: 100% 100%;
}
#cog{
	height:15vw;
	width:15vw;
	background-image: url(../images/UI/cog.png);
	left:11%;
	position: absolute;
	background-size: 100% 100%;
	bottom: 6vh;
	transition: left 0.3s cubic-bezier(.58,.03,.96,.84), transform 0.3s cubic-bezier(.58,.03,.96,.84);
}
#rightmenu{
	right:24%;
	background: linear-gradient(to top,#0006,#0000 50%),linear-gradient(to left,#0000004d,#0000 2vw),url(../images/UI/iron.jpg),url(../images/UI/handle.png);
	width: 49%;
	background-size: calc(100% - 3vw) 100%, calc(100% - 3vw), calc(100% - 3vw) 100%,3vw 100%;
	background-repeat: no-repeat;
	background-position-x: left, left, left, right;
	border-radius: 0 10px 10px 0;
	border: solid #4c3c15;
	border-width: 3px 3px 3px 0;
	box-shadow: 0px 8px 15px #0000004d;
	transition: right 0.3s cubic-bezier(.58,.03,.96,.84);
}
.pocket{
	width:90%;
	height:10vh;
	background:linear-gradient(to top , #0003, #0000 39%),linear-gradient(0.95turn, #0000004d, #0000 39%),linear-gradient(0.45turn, #86766c99, #0000 70%),url(../images/UI/bgPaper.jpg);
	left: 5%;
	position: relative;
	top: 9vh;
	border-radius: 5px;
	margin-bottom: 1vh;
	border: 3px double #6f2121;
	box-shadow: 0px 8px 8px #0003;
}
.invtitle{
	font-size: 4vh;
	position:  absolute;
	width: 40%;
	text-align: center;
	height: 6vh;
	left: calc(30% - 1vw);
	padding-top: 3px;
	background-image: url(../images/UI/parchment.png);
	background-size: 100% 100%;
	top: 1vh;
	font-family: 'Vollkorn', serif;
	color: #7b361f;
	text-shadow: 0px 1px 3px #7b361f80;
	transform: rotate(-1deg);
}
.itemImgB{
	height:9vh;
	width:9vh;
	background-color:#0003;
	border-radius: 5px;
	margin: 0.5vh;
	position: absolute;
}
.armeImgB{left:0;}
.armorImgB{right:0;}

.itemText{
	height:calc(8vh - 2px);
	width:calc(100% - 12vh);
	/*! background-color:#0003; */
	border-radius: 5px;
	margin: 0.5vh;
	position: absolute;
	padding: 0.5vh;
	overflow: hidden;
}
.armeText{right:0;}
.armorText{left:0;}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.2vh;
  font-size: 1.8vh;
  text-rendering: optimizelegibility;
  margin-top: -0.2vh;
	font-family: 'Vollkorn', serif;
}
.itemTitle{
	color:#683925;
	font-weight: bold;
	position: absolute;
}
.itemStat{
	color:black;
	right: 0;
	position: absolute;
	display: inline-table;
}
.itemDesc{
	color:#3b1e11e6;
	font-style: italic;
	display: block;
	margin-top: 2vh;
	position: absolute;
}
.scroll{
	width:100%;height:100%;
	overflow:auto;
	padding-right: 22px;
}
.armorStat{	left:0;}
.armorTitle{ right:0;}
.armorDesc{ right:0;padding-right: 2px;}
.itemList{
	width:60%;
	height:85%;
	/*! background-color:#0006; */
	top: 9vh;
	position: absolute;
	left: calc(20% - 1vw);
	text-align: center;
}
#cattitle{
	font-size: 2.0vw;
	position:  absolute;
	width: 50%;
	text-align: center;
	height: 2.5vw;
	left: calc(25% - 1.5vw);
	padding-top: 3px;
	background: linear-gradient(to top, #0003, #0000 30%),url(../images/UI/tissu.jpg);
	top: 1vh;
	font-family: 'Vollkorn', serif;
	color: #69552b;
	text-shadow: 0px 1px 3px #2217174d;
	border: 3px double black;
	background-size: 100% 100%;
	box-shadow: 0px 2px 6px #0003;
}
#manualClosing{
	width:2.5vw;
	height:36vh;
	position: absolute;
	right:  0.1vw;
	top: calc(50% - 10vw);
}
.itemCase{
	height:5.34vw;
	width:5.34vw;

	background: radial-gradient(#ffffff80,#000000e6 141%),linear-gradient(to bottom,#0009,#0000 40%);
	position: relative;
	margin: 1vh;
	display: inline-block;
	border: 1px solid black;
	border-bottom-color: bisque;
	border-right-color: bisque;
	box-shadow: 1px 5px 34px #87816166;
	transition: box-shadow 0.4s ease-in;
}
.itemCase:hover{
	box-shadow: 1px 5px 44px #654017cc;
}
.itemClassimg{
	position: absolute;
	width: 4.34vw;
	height: 4.34vw;
	left: 0.5vw;
	top: 0.5vw;
}
.itemImgA{
	height:8vh;
	width:8vh;
	position: absolute;
	left: 0.5vh;
	top: 0.5vh;
	border-radius: 5px;
}
.btnPocket{
	height:4.5vh;
	width:50px;
	background: #7c4d42;
	position:  relative;
	display: inline-block;
	top: 9vh;
	left: 5%;
	width: calc(45% - 2vh);
	margin: 1vh;
	border-radius: 5px;
	border: 1px solid #0000004d;
	box-shadow: 0px 3px 4px #0000001a;
	text-align: center;
	font-size: 1.5vw;
	font-family: 'Vollkorn',serif;
	color: #b18375;
	padding-top: 1vh;
}
.highlight {
	background: linear-gradient(to top , #0003, #0000 39%),linear-gradient(0.95turn, #0000004d, #0000 39%),linear-gradient(0.45turn, #86766c99, #0000 70%),url(../images/UI/leather.jpg);
	color:white;
	font-size: 1.5vh;
	border-radius: 5px;
	padding:0.1vh 1vh;
	opacity: 0.8;
}
