html, body{
    overflow: hidden;
}
body{
  background:linear-gradient(to top, black, #271717 100%);
}

#histoire{
  width:50%;
  left:25%;
  top:35%;
  color: #968e81;
  padding-bottom: 0px;
}
.optPasser{
  color:#fff6;
  text-decoration: underline;
  position: fixed;
  bottom:10px;
  left:calc(50% - 10px);
  font-size: 1.5em;
  font-style: italic;
}

span {
  font-size: 25px;
}
