body, html {
  /*! width: 100%; */
  width:100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: initial;
  background-color: ##E8D4A2;
  background-size: cover;
  -moz-user-select: none;
  user-select: none;
  cursor: url(../images/cursors/nope.png) 15 10, auto;
  overflow-x: hidden;
}
#clouds, #cloudsbg {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40%;
  z-index: 1;
  background-repeat: repeat-x;
  background-attachment: fixed;
}


body {
  background: linear-gradient(to top, #683a0080 -20%, #0000 40%), linear-gradient(0.67turn, #5d3c004d, #0000 20%), linear-gradient(0.33turn, #fff5d4, #0000 20%), linear-gradient(to bottom, #f5eba380, #0000 100%), url(../images/UI/bgPaper.jpg) no-repeat center fixed;
  background-attachment: fixed;
  background-size: 100%;
  transition:background 1s ease;
  /*! overflow-y: scroll; */
  overflow-x: hidden;
}
.bgVoile{ background: linear-gradient(to bottom, #b7311d -50%, #0000 40%),black;}

a.dialNorm {cursor: url(../images/cursors/talk.png), auto !important;}
a.btnD, a.btn_objets, a, button {cursor: url(../images/cursors/hand.png), auto !important;}
a.cursorTake {cursor: url(../images/cursors/take.png), auto !important;}
a.cursorHit {cursor: url(../images/cursors/hit.png), auto !important;}
a.cursorSkill {cursor: url(../images/cursors/skill.png), auto !important;}

a.optNope, a.dialNope {
  cursor: no-drop !important;}
input{cursor:url(../images/cursors/take.png), auto !important;}
/*SLEFT-SRIGHT-------------------------------------------------------- */
#sleft, #sright{
  width:25%;
  height: 100%;
  position: fixed;
  display: inline-block;
  background: linear-gradient(to bottom, #feffe9 -20%, #c5e3e1 70%);
}
#sright{right:0px;}
#vertLeft, #vertRight {
  background-image: url(../images/UI/elemNavVertBg.png);
  /*! position: fixed; */ top: 0px;
  width: 2.5vw; height: 100%;
  box-shadow: 2px 0px 5px hsla(0, 0%, 0%, 0.2);
  z-index:  4 !important;
  background-size: 100% 100%;
}

#vertLeft {  position:  fixed;display: inline-block;left: calc(25% - 2.5vw);}
#vertRight {  right: calc(25% - 2.5vw);position: fixed;}

#rust1a, #rust1b, #rust2a, #rust2b {
  background-image: url(../images/UI/elemRustbar.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  width: 3.15vw; height: 1.6vw;
  z-index: 2;
  margin-left: -0.35vw;
}
#rust1a, #rust2a {  top: 15%;}
#rust1b, #rust2b {  bottom: 15%;}
#ang1a, #ang1b, #ang2a, #ang2b {
  background-image: url(../images/UI/elemAng.png);
  position: fixed;
  z-index: 6;
  width: 2vw;
  height: 330px;
}
#ang1a, #ang1b {  left: -30px;}
#ang2a, #ang2b {  right: -30px;}
#ang1a, #ang2a {  top: -104px;}
#ang1b, #ang2b {  bottom: -104px;}
#ang1a, #ang2b {
  transform: rotate(45deg);
  box-shadow: 2px 0px 5px hsla(0, 0%, 0%, 0.1);
}
#ang1b, #ang2a {
  transform: rotate(-45deg);
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.43);}
#btnMap{
  position: fixed;
  bottom:4vw;
  font-family: 'Vollkorn', serif;
  /*! font-weight: bold; */
  left: 25%;
  z-index: 6000;
  opacity: 0.8;
}
/* HEADER-------------------------------------------------------- */
header {
  background-image: url(../images/UI/elemNavHorBg.png);
  position:    absolute;
  top: 1vw;
  left: 25%;
  z-index: 11;
  height: 3.5vw;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  width: 50%;
}

#iconPage {
  width: 6.5vw;
  height: 6.5vw;
  background-image: url(../images/UI/bgPageIcon.png);
  top: -6px !important;
  position: fixed;
  left: calc(50% - 3.2vw);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.iconPageImg {
  left: 1.5vw;
  top: 1.5vw;
  border-radius: 15px;
  position: absolute;
  width: 3.6vw;
}
/* ARTICLE-------------------------------------------------------- */
#main {
  width: 50%;
  left: 25%;
  position: absolute;
  height: 200%;
  display: inline-block;
  position: absolute;
  z-index: 3;
  background: linear-gradient(to top, #00000080 -20%, #0000 40%), linear-gradient(0.67turn, #5d3c004d, #0000 20%), linear-gradient(0.33turn, #fff5e680 0%, #f8f8f800 50%), linear-gradient(to bottom, #f5eba380, #0000 100%), url(../images/UI/bgPaper.jpg) no-repeat center fixed;
  background-attachment: fixed;
  background-size: 100%;
  transition: background 1s ease;
}

h1 {
  font-size: 5vh;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #4c3d20;
  padding-top: 6vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-shadow: 0px 1px 1px #0006;
  margin-top: 0;
}

h1:before, h1:after {
  content: "-";
}

#histoire {
  margin-bottom: 2px;
  text-align: center;
  color: #423b26;
  font-family: 'Vollkorn', serif;
  line-height: 1.5em;
  position: relative;
  padding: 2vh 20px;
  margin-top: 2vh;
}


span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 3vh;
}

#choix {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 35px;
  z-index: 5;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a.btnD:hover {
  box-shadow: 0px 3px 4px #c4a66d;
}

.btnD, .optNope {
  box-shadow: 0px 1px 1px #a5866780;
  padding: 0.6vw 0.6vw 0.5vw 0.6vw;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-family: 'Vollkorn', serif;
  color: #322110cc;
  font-size: 2.6vh;
  background-color: #fffad7;
  border-radius: 4px;
  line-height: 1em;
  border:none;
}
.btnDash{
  border: 2px dashed #9243434d;
  color: #7e684e;
}

.optNope {
  color: #919191;
  background-color: #4c4c4c;
  box-shadow: none;
}
#illus_cont {
  text-align: center;
  height: 10vw;
  margin: 0 auto;
  background-image: url(../images/UI/parchment.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#illustr {
  margin: 0 auto;
  margin-top: 1vw;
  height: 7vw;
}

/* FOOTER-------------------------------------------------------- */
footer {
  background-image: url(../images/UI/elemNavHorBg.png);
  position: fixed;
  bottom: 1vw; left: 25%;
  width: 50%; height: 3.5vw;
  /*! min-height: 60px !important; */
  font-family: 'Roboto Slab', sans-serif;
  z-index: 11;
  background-size: 100% 100%;
}

a.iconInv {
  display: inline-block;
  padding: 0.15vw;
  height: 2.1vw;
  width: 2.1vw;
  border: 3px double #dbba7a;
  border-radius: 6px;
  background-color: hsla(0, 0%, 0%, 0.3);
}

#footerLeft {
  position: fixed;
  left: 25%;
  bottom: 1.4vw;
  width: calc(25% - 24px);
  height: 3vw;
}

#hpCont {
  position:  absolute;
  right: 1vw;
  background-image: url(../images/UI/smallparch.png);
  width: 7.5vw;
  height: 2.5vw;
  bottom: 0.2vw;
  background-size: 100%;
  text-align: right;
  background-size: 100% 100%;
  text-align: center;
}

#iconHealth {
  position: absolute;
  width: 2vw;
  height: 2vw;
  bottom: 0.3vw;
  left: 0.2vw;
}

#plHealth {
  position: absolute;
  bottom: 0.65vw;
  margin: 0;
  width: 4.4vw;
  left: 2.3vw;
  font-size: 1vw;
}

#pseudo {
  position: fixed;
  left: calc(25% + 10px);
  width:10vw;
  bottom: 2.2vw;
  color: #f2d8a7;
  text-shadow: 0px 1px 6px hsla(0, 0%, 0%, 1);
  /*! height: 45px; */
  overflow: hidden;
  font-size: 1vw;
  margin: 0;
}

#footerMid {
  width: 3vw;
  position: fixed;
  left: calc(50% - 1.5vw);
  bottom: 1.5vw;
  text-align: center;
}

#footerRight {
  position: fixed;
  right: 25%;
  text-align: right;
  bottom: 1.4vw;
  width: calc(25% - 24px);
  height: 3vw;
}

#gdCont {
  position: absolute;
  left: 1vw;
  background-image: url(../images/UI/smallparch2.png);
  width: 7vw;
  height: 2.5vw;
  bottom: 0.2vw;
  background-size: cover;
  text-align: left;
  background-size: 100% 100%;
}

#iconGold {
  position: absolute;
  bottom: 11px;
  right: 8px;
  height: 1.2vw;
}

#goldAmount {
  position: absolute;
  bottom: 0.65vw;
  margin: 0;
  width: 75px;
  left: 15px;
  font-size: 1vw;
}

#plclasse {
  position: fixed;
  right: calc(25% + 10px);
  bottom: 2.2vw;
  color: #f2d8a7;
  text-shadow: 0px 1px 6px hsla(0, 0%, 0%, 1);
  font-size: 1vw;
  margin: 0;
}
/* JQUERY DIALOG-------------------------------------------------------- */
.get_item {
  display: inline-block;
  position: relative;
  background-color: #dbba7a;
  border: 1px solid #3b281c;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 7px #fff4ba;
}
.ui-dialog.dialoggold #getitem_desc {
  margin-top: 10px;
}

.tVeil{
  font-size:25px;
}
