body, html {
  width:100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: initial;
  -moz-user-select: none;
  user-select: none;
  cursor: url(../images/cursors/nope.png) 15 10, auto;
  /*! overflow-x: hidden; */
}
#clouds, #cloudsbg {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40%;
  z-index: 1;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
body {
  background: linear-gradient(to top, #683a0080 -20%, #0000 40%), linear-gradient(0.67turn, #5d3c004d, #0000 20%), linear-gradient(0.33turn, #fff5d4, #0000 20%), linear-gradient(to bottom, #f5eba380, #0000 100%), url(../images/UI/bgPaper.jpg) no-repeat center fixed;
  background-attachment: fixed;
  background-size: 100%;
  transition:background 1s ease;
  /*! overflow-y: scroll; */
  overflow-x: hidden;
}
.bgVoile{ background: linear-gradient(to bottom, #b7311d -50%, #0000 40%),black;}

#choix_dialogue, a.dialAll {cursor: url(../images/cursors/talk.png), auto !important;}
a.btnD, a.btn_objets, a, button {cursor: url(../images/cursors/hand.png), auto !important;}
a.cursorTake {cursor: url(../images/cursors/take.png), auto !important;}
a.cursorHit {cursor: url(../images/cursors/hit.png), auto !important;}
a.cursorSkill {cursor: url(../images/cursors/skill.png), auto !important;}

a.optNope, a.dialNope {
  cursor: no-drop !important;}
input{cursor:url(../images/cursors/take.png), auto !important;}
/*SLEFT-SRIGHT-------------------------------------------------------- */
#sleft, #sright{
  width:25%;
  height: 100%;
  position: fixed;
  display: inline-block;
  background: linear-gradient(to bottom, #feffe9 -20%, #c5e3e1 70%);
}
#sright{right:0px;}
#vertLeft, #vertRight {
  background-image: url(../images/UI/elemNavVertBg.png);
  /*! position: fixed; */ top: 0px;
  width: 2.5vw; height: 100%;
  box-shadow: 2px 0px 5px hsla(0, 0%, 0%, 0.2);
  z-index:  4 !important;
  background-size: 100% 100%;
}

#vertLeft {  position:  fixed;display: inline-block;left: calc(25% - 2.5vw);}
#vertRight {  right: calc(25% - 2.5vw);position: fixed;}

#rust1a, #rust1b, #rust2a, #rust2b {
  background-image: url(../images/UI/elemRustbar.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  width: 3.15vw; height: 1.6vw;
  z-index: 2;
  margin-left: -0.35vw;
}
#rust1a, #rust2a {  top: 15%;}
#rust1b, #rust2b {  bottom: 15%;}
#ang1a, #ang1b, #ang2a, #ang2b {
  background-image: url(../images/UI/elemAng.png);
  position: fixed;
  z-index: 6;
  width: 2vw;
  height: 330px;
}
#ang1a, #ang1b {  left: -30px;}
#ang2a, #ang2b {  right: -30px;}
#ang1a, #ang2a {  top: -104px;}
#ang1b, #ang2b {  bottom: -104px;}
#ang1a, #ang2b {
  transform: rotate(45deg);
  box-shadow: 2px 0px 5px hsla(0, 0%, 0%, 0.1);
}
#ang1b, #ang2a {
  transform: rotate(-45deg);
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.43);}
#btnMap{
  position: fixed;
  bottom:4vw;
  font-family: 'Vollkorn', serif;
  /*! font-weight: bold; */
  left: 25%;
  z-index: 10;
  opacity: 0.8;
  width:3.5vw;
}
.maplogo {
  width:inherit;
}
/* HEADER-------------------------------------------------------- */
header {
  background-image: url(../images/UI/elemNavHorBg.png);
  position:    absolute;
  top: 1vw;
  left: 25%;
  z-index: 11;
  height: 3.5vw;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  width: 50%;
}

#iconPage {
  width: 6.5vw;
  height: 6.5vw;
  background-image: url(../images/UI/bgPageIcon.png);
  top: -1.3vw !important;
  position: inherit;
  left: calc(50% - 3.2vw);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.iconPageImg {
  left: 1.5vw;
  top: 1.5vw;
  border-radius: 15px;
  position: absolute;
  width: 3.6vw;
}
/* ARTICLE-------------------------------------------------------- */
#main {
  width: 50%;
  left: 25%;
  height: 200%;
  position:  absolute;
  z-index: 3;
  background: linear-gradient(to top, #00000080 -20%, #0000 40%), linear-gradient(0.67turn, #5d3c004d, #0000 20%), linear-gradient(0.33turn, #fff5e680 0%, #f8f8f800 50%), linear-gradient(to bottom, #f5eba380, #0000 100%), url(../images/UI/bgPaper.jpg) no-repeat center fixed;
  background-attachment: fixed;
  background-size: 100%;
  transition: background 1s ease;
}

h1 {
  font-size: 5vh;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #4c3d20;
  padding-top: 6vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-shadow: 0px 1px 1px #0006;
  margin-top: 0;
}

h1:before, h1:after {
  content: "-";
}

#histoire {
  margin-bottom: 2px;
  text-align: center;
  color: #423b26;
  font-family: 'Vollkorn', serif;
  line-height: 1.5em;
  position: relative;
  padding: 2vh 20px;
  margin-top: 2vh;
}


span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 2.8vh;
  text-rendering: optimizelegibility;
}

#choix {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 35px;
  z-index: 5;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a.btnD:hover {
  box-shadow: 0px 3px 4px #c4a66d;
}

.btnD, .optNope {
  box-shadow: 0px 1px 1px #a5866780;
  padding: 0.6vw 0.6vw 0.5vw 0.6vw;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-family: 'Vollkorn', serif;
  color: #322110cc;
  font-size: 2.2vh;
  background-color: #fffad7;
  border-radius: 4px;
  line-height: 1em;
  border:none;
}
.btnDash{
  border: 2px dashed #9243434d;
  color: #7e684e;
}

.optNope {
  color: #919191;
  background-color: #4c4c4c;
  box-shadow: none;
}
#illus_cont {
  text-align: center;
  height: 10vw;
  margin: 0 auto;
  background-image: url(../images/UI/parchment.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#illustr {
  margin: 0 auto;
  margin-top: 1vw;
  height: 7vw;
}

/* FOOTER-------------------------------------------------------- */
footer {
  background-image: url(../images/UI/elemNavHorBg.png);
  position: fixed;
  bottom: 1vw; left: 25%;
  width: 50%; height: 3.5vw;
  /*! min-height: 60px !important; */
  font-family: 'Roboto Slab', sans-serif;
  z-index: 11;
  background-size: 100% 100%;
}

a.iconInv {
  display: inline-block;
  padding: 0.15vw;
  height: 2.1vw;
  width: 2.1vw;
  border: 3px double #dbba7a;
  border-radius: 6px;
  background-color: hsla(0, 0%, 0%, 0.3);
}

#footerLeft { left: 25%;}
#footerRight {  right: 25%;  text-align: right;}
.footers{
  position: fixed;
  bottom: 1.4vw;
  width: 25%;
  height: 3vw;
  font-size:1vw;
}
#hpCont {
  position:  absolute;
  right: 0vw;
  background-image: url(../images/UI/smallparch.png);
  width: 7.5vw;
  height: 2.5vw;
  bottom: 0.2vw;
  background-size: 100%;
  text-align: right;
  background-size: 100% 100%;
  text-align: center;
}

#iconHealth {
  position: absolute;
  width: 2vw;
  height: 2vw;
  bottom: 0.3vw;
  left: 0.2vw;
}

#plHealth {
  position: absolute;
  bottom: 0.65vw;
  margin: 0;
  width: 4.4vw;
  left: 2.3vw;
}

#pseudo { left: 0.3vw;}
#plclasse { right: 0.3vw;}
.footertext{
  position: absolute;
  bottom: 0.6vw;
  color: #f2d8a7;
  text-shadow: 0px 1px 6px hsla(0, 0%, 0%, 1);
  margin: 0;
  width: 17vw;
  text-align: center;
  height: 1.5vw;
  overflow: auto;
}
#gdCont {
  position: absolute;
  left: 0;
  background-image: url(../images/UI/smallparch2.png);
  width: 7vw;
  height: 2.5vw;
  bottom: 0.2vw;
  background-size: cover;
  text-align: left;
  background-size: 100% 100%;
}

#iconGold {
  position: absolute;
  bottom: 11px;
  right: 8px;
  height: 1.2vw;
}

#goldAmount {
  position: absolute;
  bottom: 0.65vw;
  margin: 0;
  width: 75px;
  left: 15px;
}
/* JQUERY DIALOG-------------------------------------------------------- */
.get_item {
  display: inline-block;
  position: relative;
  background-color: #dbba7a;
  border: 1px solid #3b281c;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 7px #fff4ba;
}
.ui-dialog.dialoggold #getitem_desc {
  margin-top: 10px;
}

.tVeil{
  font-size:25px;
}
.chance:before{
  margin-top:1.75vw;
  content: "";
  position: absolute;
  display: block;
  width: 3.8vw;
  height: 2.35vw;
  z-index: -1;
  background-image: url(../images/UI/chance.png);
  text-align: right;
  font-size: 1vw;
  color: #fff9;
  font-family: Calibri;
  padding-right: 5px;
  background-size: 100% 100%;
}
.ch10:before{content:"10%";}
.ch20:before{content:"20%";}
.ch30:before{content:"30%";}
.ch40:before{content:"40%";}
.ch50:before{content:"50%";}
.ch60:before{content:"60%";}
.ch70:before{content:"70%";}
.ch80:before{content:"80%";}
.ch90:before{content:"90%";}
.ch100:before{content:"100%";}
.menuBtnText{
  box-shadow: 0px 1px 2px #45525480;
  padding: 0.5vw 0 0.3vw 0;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-family: 'Vollkorn', serif;
  color: #fff !important;
  font-size: 2.2vh;
  background-color: #d6d6d64d;
  border-radius: 4px;
  line-height: 1em;
  border:none;
  text-shadow: 0px 1px 7px #0000004d,0px 1px 1px #0006;
  width: 83%;
}
.inMenuBig{
  color:white;
  font-size: 3vh;
  margin-top: 15vh;
}
#menuIcons{
  height:10vh;
  width:100%;
  bottom: 0;
  position: absolute;
  left: 0;
  background: linear-gradient(to top, #1d180c4d, #0000 50%), #0003;
  padding-top: 1vh;
  border-top: 1px solid #ffffff4d;
}
.menuBtnIco{
  height:8vh;
  width:8vh;
  background: linear-gradient(to top, #0000004d,#0000 20%)#9c8b75;
  /*! position:     relative; */
  border: 1px solid #0009;
  border-radius: 4px;
  box-shadow: 0px 3px 3px #0003;
  display: inline-block;
  margin: 0 1vh 0 1vh;
}

.MBIinv{background:url(../images/icons/UI/backpackColor1.png), linear-gradient(to top, #0000004d,#0000 20%)#9c8b75;}
.MBIstats{background:url(../images/icons/UI/statsColor1.png), linear-gradient(to top, #0000004d,#0000 20%)#9c8b75;}
.MBIinv, .MBIstats, .MBIstats {
  background-size: 90%, 100%;
  background-repeat: no-repeat;
  background-position: center;}
#menuHoverText{
  position:fixed;
  bottom:18vh;
  width:16vw;
  left:calc(50% - 8vw);
  height:3.5vh;
  background-color: #594a3e;
  border: 1px dashed #000;
  display: none;
  box-shadow: 0px 6px 4px #0000001a;
  color: #fff1b8;
  text-align: center;
  font-family: 'Vollkorn', serif;
  padding-top: 0.4vh;
  font-size: 2.2vh;
}
.statclass{
	font-size:2vh;
	line-height: 3vh;
}
.staticon{
	margin-top:6.5px;
	margin-bottom: -6px;
	margin-right: 0.4vh;
	background-color: #d47a7a80;
	border-radius: 20px;
	height: 1.49vw;
	border: 1px solid #0003;
	padding: 0.1vw;
}
.tg  {border-spacing:0;}
.tg td{border:dotted #41131366;overflow:hidden;width: 6vw;height: 6vh;text-align: center;font-size: 2.5vh;font-family: Arial;color: #5a4f35b3;border-width: 1px 0 0 1px;}
.tg th{font-family:'Vollkorn', serif;font-size:14px;font-weight:normal;border-style:solid;border-width:1px;border-color:black;}
.tg .tg-yw4l{vertical-align:top}
.firstln{background-color: #1d1915b3;color: #ece6bb;height: 3vh !important;text-align: center;}
.secondln{background: linear-gradient(to top, #0000001a, #0000 20%),#a6806ab3;}
.thirdln{background: linear-gradient(to top, #0000001a, #0000 20%), #b99f7acc;}
td:first-child, td:last-child { font-weight: bold; color: #40372e;}
td:first-child {text-align: left; font-size: 1.1vw;font-family: 'Vollkorn', serif;/*! color: #40372e; */text-rendering: optimizelegibility;}
#allmenus{
  display: none;
}
