body {
 top:0;
 left:0;
 height:100%;
 width:100%;
 position:fixed;
 margin:0;
 -moz-user-select: none;
 user-select: none;
 cursor: url(../images/cursors/nope.png) 15 10, auto;
}
.action, .uiFG_mid_right, .navBtns, a, .asideRight:before {
 cursor: url(../images/cursors/hand.png), auto !important;
}
#toggleUI {
 position:absolute;
 top:1vh;
 left:1vh;
 background-color:white;
 color:#000000b3;
 padding: 0.5vh 1vh;
 border-radius: 4px;
 font-size: 1.5vh;
 width: 13vh;
 border: 1px dotted #0003;
 text-align: center;
}
.fullscreen {
 top:0;
 left:0;
 background: linear-gradient(to bottom, #d7eff5, #c4e8fa 60%);
 z-index:0;
 transition: filter 4s ease-in;
}
.UIBG_imgFull {
 z-index:3;
}
.UIBG_imgFullBG {
 z-index:0;
}
.UIBG_imgsBG {
 bottom: 0;
}
.UIBG_img {
 transition: filter 4s ease-in;
}
.UIBG_imgFG {
 right: 0;
 z-index: 4;
}
.UIBG_imgL {
 left:0;
}
.UIBG_imgR {
 right:0;
}
.UIBG_imgFG {
}
.UIBG_imgBG {
 color:black;
}
.uiBG_clouds {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 40%;
 z-index: 1;
 background-repeat: repeat-x;
 background-size: auto 100%;
}
#UIBG_Prop {
 position: absolute;
 z-index: 3;
 max-width: 9%;
}
.minimap {
 width:13vw;
 height:13vw;
 background-color: #f0ebd1;
 position:fixed;
 right: 12vh;
 top: 11vh;
 border: 5px solid;
 border-color: #dad7b5;
 box-shadow: 0 8px 20px #0000001a, 0 2px 10px #0000001a;
 overflow: hidden;
 z-index: 0;
 border-radius: 100%;
}
.mapPosition {
 width:20px;
 height:20px;
 position: absolute;
 z-index:6;
 left: calc(50% - 10px);
 top: calc(50% - 10px);
 border-radius: 100%;
 text-align: center;
 font-size: 20px;
 color: #4d716a;
 text-shadow: 0 0 15px #ffffff80, 0 0 10px #ffffff80;
}
.carte {
 left: -299px;
 position: absolute;
 top: -301px;
}
.hiddenTop {
 top:120% !important;
 position: absolute;
}
.midscreen {
 width:50%;
 left:25%;
 z-index:10;
 top:0;
 transition:top 0.5s ease-in;
}
.uiFG_top {
 height:10%;
}
.uiFG_mid {
 top:10%;
 height:70%;
}
.uiFG_mid_block {
 position:absolute;
 box-shadow: 0 11px 40px #0000001a, 0 5px 23px #0000001a;
 border: 1px solid #0006;
 border-radius: 4px;
}
.uiFG_mid_left {
 height:100%;
 width:calc(60% - 1vw);
 background: linear-gradient(to top, #0000004d, transparent 34%),linear-gradient(to bottom, #0003 6vh, transparent 15%), url(../images/UI/bgPaper.jpg);
 overflow: hidden;
 box-shadow: 0 5px 23px #0003 inset;
}
.uiFG_mid_titles {
 width:100%;
 background-image: linear-gradient(to top, #0000004d, transparent 34%), url(../images/UI/woodbar.jpg);
 background-size: auto 100%;
 box-shadow: 0 0 9px #0000004d inset;
 border-radius: 2px;
 text-align: center;
 color: white;
 font-family: 'Playfair Display', serif;
 text-shadow: 0 2px 3px #000c;
 line-height: -moz-block-height;
}
.uiFG_mid_left_title {
 height:6vh;
 font-size: 3vh;
 max-height: 45px;
}
.histoire {
 color:#54392b;
 position: inherit;
 padding: 0 2vw;
 font-family: 'Vollkorn', serif;
 text-align: center;
 font-size: 2.7vh;
 line-height:4vh;
 letter-spacing: 0.1px;
}
#histoire:before {
 content:"“";
 left: 1vh;
 top: 12vh;
}
#histoire:after {
 content:"”";
 right: 1vh;
 margin-top: 5vh;
}
#histoire:before, #histoire:after {
 color:#7d1f0066;
 font-size: 4vw;
 position: absolute;
 line-height: 0vw;
}
.uiFG_mid_right {
 width:calc(40% - 1vw);
 right: 0;
 overflow: hidden;
 height: 88%;
 position: absolute;
}
.uiFG_mid_right_title {
 height:4vh;
 font-size: 2.5vh;
 max-height: 30px;
}
.actions {
 position: relative;
 width: 90%;
 left: 5%;
}
.actionGroup {
 background-color:#738d8899;
 border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px;
 position: relative;
}
.actionsCat {
 margin: 2vh 0;
 box-shadow: 0 2px 12px #0000004d;
 border: 1px solid #0003;
 border-radius: 4px;
 padding-top: 0px;
 position: relative;
}
.actionsCatTitle {
 height:2vw;
 background-color: #d2c2b4;
 border-top-left-radius: 4px;
 min-height: 16px;
 border-top-right-radius: 4px;
 top: 0;
 margin-top: -1px;
 border-top: 3px solid #7b7061;
}
.actionsCatTitle_Text {
 font-size:1.2vw;
 margin: 0.27vh 2vw 0 0.5vw;
 font-family: 'Didact Gothic', sans-serif;
 color: #412a2099;
 font-weight: lighter;
}
.actionsCatTitle_Img {
 width:2vw;
 height:2vw;
 position:  absolute;
 border-width: 0 1px 1px 0;
 border-radius: 4px;
 padding: 0.13vw;
 box-sizing: border-box;
 min-width: 16px;
 min-height: 16px;
 right: 0;
 max-height: 100%;
}
.action:before {
 content: " ";
 color: #020122;
 font-weight: bold;
 width: 1.5vw;
 display: inline-block;
 margin-right: 0.5vw;
 text-align: center;
 border-radius: 100%;
 background-color: #fff3;
 box-shadow: 0 1px 3px #0000001a;
}
.action {
 color:#e6d2c0;
 display: inline-block;
 padding: 0.6vh 0vh 0.6vh 2vh;
 font-family: 'Slabo 27px', serif;
 font-size: 1.15vw;
 line-height: 1.5vw;
 width: 100%;
 transition:all 0.2s linear;
 box-sizing: border-box;
}
.action:hover {
 color:#eae0d7;
 background-color: #b4cccc1a;
}
.uiFG_bot {
 height:20%;
 bottom:0;
 max-height: 110px;
}
.uiFG_bot_top {
 height:34%;
 top:11%;
 z-index: 2;
}
#plHealthText {
 position: absolute;
 max-width: calc(15% - 1vw);
 color: #b7a88f;
 font-size: calc(1.7vh - 1px);
 font-family: 'Didact Gothic', sans-serif;
 z-index: 1;
 letter-spacing: 1px;
 font-weight: bold;
 left: 1px;
}
.uiFG_bot_top_nav {
 height:70%;
 top:15%;
 width:calc(55% - 1vw); /*! background-color: #0000001a; */
 position: absolute;
 right: calc(30% + 1vw);
}
.navBtns {
 height:4.7vh;
 width: 4.7vh;
 background-color: white;
 position:   relative;
 display: inline-block;
 float: right;
 margin-left: 1vw;
 border-radius: 3px;
 border: 1px solid #0000004d;
 box-shadow: 0 1px 4px #0000001a;
 transition: box-shadow 0.2s ease-in;
 max-height: 24px;
 max-width: 24px;
 background-size: 95% 95%;
 background-repeat: no-repeat;
 background-position: center;
}
.navBtns:hover {
 box-shadow:0 3px 4px #0003;
}
#btnInv {
 background-image: url(../images/icons/UI/backpackColor1.png);
}
#btnMap {
 background-image: url(../images/icons/UI/mapColor1.png);
}
.uiFG_bot_top_plCont {
 width: calc(30% - 1vw);
 background: linear-gradient(to top, #0000001a, transparent 20%), #bca487;
 right: 0;
 border: solid #0003;
 border-width: 1px 1px 0 1px;
 border-top-right-radius: 4px;
 border-top-left-radius: 4px;
 color: #6d3652;
}
.uiFG_bot_top_plInfo {
 height:50%;
 box-sizing: border-box;
 padding: 0 1vw;
 font-family: 'Vollkorn', serif;
 font-size: 2vh;
 padding-top: 0.2vh;
 border-bottom: 1px dotted #ddd3c666;
 text-align: center;
}
#uiFG_bot_top_plRace {
 bottom:0;
}
.uiFG_bot_bot {
 background:#b7a88f;
 height:55%;
 bottom:0;
 border: solid #0000004d;
 border-width: 0 1px;
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
 box-shadow: 0 2px 10px #0003;
 z-index: 2;
 background-size: cover;
 background-repeat: no-repeat;
}
.progression {
 background:linear-gradient(to top, #0003, #0000 50%), #b08c5f !important;
 left: 0;
 position:inherit;
 box-sizing: border-box;
 border:solid black !important;
 border-width: 1px 0 !important;
}
.progression.big {
 height: 1.7vh !important;
 min-height: 12px;
 width: 100%;
}
.progression.small {
 height: 1.3vh !important;
 min-height: 9px;
 width: 84%;
 left: 8%;
}
.progression.inv {
 margin-top:3vh;
 border: 0 !important;
 border-radius: 8px;
}
.progression-value {
 background:linear-gradient(to top, #00053133, #0000 50%),linear-gradient(to bottom, #a5383833, #0000 50%), #972750 !important;
 transition: width 0.25s ease-in, background 0.1s ease-in;
}
.goldContainer {
 background: #c6b8a1;
 width:12%;
 height:5vh;
 position: absolute;
 bottom: 1vh;
 right: 1vw;
 border-radius: 5px;
 max-height: 28px;
 min-width: 80px;
 line-height: -moz-block-height;
}
.goldIcon {
 height:100%;
 background-color:#702f3e;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
#plGold {
 color:#57213fcc;
 position:  absolute;
 bottom: 0;
 left: 6vh;
 font-family: 'Didact Gothic', sans-serif;
 display: inline;
}
.scroll {
 width:100%;
}
.scrollMidLeft {
 overflow: hidden;
}
.scrollMidRight {
 top:4vh;
 height:100%;
 background-image: linear-gradient(to top, #0000001a, transparent 20%),linear-gradient(to bottom, #0000004d, transparent 2vh), url(../images/UI/woodtest.jpg);
 background-size: auto 100%;
 background-attachment: scroll, scroll, local;
 position:   inherit;
 overflow: hidden;
 background-position-x: center;
}
hr.hr2 {
 border: 0;
 height: 1px;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 margin: 1vh 0;
}
hr.big {
 margin: 4vh 0 !important;
}
.asideRight {
 width:20%;
 background:#d2c6b4;
 right:-20%;
 top: 0;
 z-index: 12;
 transition:right 0.25s ease-in;
}
.asideRightOpener {
 height:5vh;
 width:11vh;
 background #0000001a;
 position: absolute;
 top: 0;
 right: 0;
 background-color: #dad7b5;
 border-bottom: 3px solid #c1be9f;
 border-bottom-left-radius: 3px;
 z-index:11;
}
.asideRightOpener svg {
 fill:white;
 filter:drop-shadow(0 2px 1px #0000001a);
 position: absolute;
}
#openAsideRight {
 left: 3%;
 height:80%;
 padding: 5%;
}
#UIToggle {
 left:5.5vh;
 height:60%;
 padding: 1vh;
}
.show_asideRight {
 right:0;
}
.asideRight_nav {
 width:3vw;
 background-color:#97907f;
 padding-top: 1vh;
}
.asideRight_navIcons {
 transition: background 0.3s ease-in;
 margin-bottom: 1vh;
 display: inline-block;
}
.asideRight_navIcons:hover {
 background:#0003;
}
.asideRight_navIcons img, .asideRight_navIcons svg {
 width:70%;
 left:15%;
 position:  relative;
 margin: 9% 0;
 height: auto;
 fill:#d2c2b4;
}
.navIconsActive:before {
 content:"";
 width:3px;
 height:100%;
 background-color:white;
 position: absolute;
}
.sidebarRight_menu {
 width:calc(100% - 3vw);
 right: 0;
 padding: 2vh;
 box-sizing: border-box;
 font-family: 'Didact Gothic', sans-serif;
 font-size: 2vh;
}
.asideRight_navClose {
 height:2vh;
 text-align: center;
}
.asideRight_navClose svg {
 margin:0;
 width: auto;
 height: 100%;
 padding: 0;
 left: calc(50% - 1vh);
 position: absolute;
}
.statLine {
 display:    -moz-grid;
 width: 100%;
}
.statLine.sub {
 color:grey;
 width:85%;
 margin-left:15%;
}
.statLine.full {
 margin-top:0.5vh;
}
.statLine.sub .statNumber.mult:before {
 content:"*"
}
.statText {
 display: inline-block;
}
.statNumber {
 display: inline-block;
 text-align: right;
}
.statLine.full .statNumber {
 font-weight: bold;
}
.statImage {
 background-color:#f2f2f2;
 position: absolute;
 left: 0.8vw;
 width: 3.5vh;
 margin-top: 1vh;
 border-radius: 100%;
 opacity: 0.5;
 height: 3.5vh;
}
.statImage svg {
 height:80%;
 fill:#000;
 position: absolute;
 top: 10%;
 left: 10%;
 stroke: black;
 stroke-width: 1px;
}
.tg  {
 border-spacing:0;
}
.tg td {
 border:dotted #41131366;
 overflow:hidden;
 width: 6vw;
 height: 6vh;
 text-align: center;
 font-size: 2.5vh;
 font-family: Arial;
 color: #5a4f35b3;
 border-width: 1px 0 0 1px;
}
.tg th {
 font-family:'Vollkorn', serif;
 font-size:14px;
 font-weight:normal;
 border-style:solid;
 border-width:1px;
 border-color:black;
}
.tg .tg-yw4l {
 vertical-align:top
}
.firstln {
 background-color: #1d1915b3;
 color: #ece6bb;
 height: 3vh !important;
 text-align: center;
}
.secondln {
 background: linear-gradient(to top, #0000001a, #0000 20%),#a6806ab3;
}
.thirdln {
 background: linear-gradient(to top, #0000001a, #0000 20%), #b99f7acc;
}
td:first-child, td:last-child {
 font-weight: bold;
 color: #40372e;
}
td:first-child {
 text-align: left;
 font-size: 1.1vw;
 font-family: 'Vollkorn', serif;
}
.btnNord:before {
 content:"↑";
}
.btnOuest:before {
 content:"←";
}
.btnEst:before {
 content:"→";
}
.btnSud:before {
 content:"↓";
}
.btnNord:before, .btnOuest:before, .btnEst:before, .btnSud:before {
}
.classicDialog .ui-dialog-title {
 width:100% !important;
 margin: 0 !important;
 font-family: 'Playfair Display';
 font-weight: normal;
 color: #ece4d8;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 2.3vh;
 text-align: center;
 line-height: 4vh;
}
.classicDialog .ui-dialog-titlebar-close {
 visibility: hidden;
}
.classicDialog {
 left: 0;
 outline: 0 none;
 padding: 0 !important;
 position: absolute;
 top: 0;
 box-shadow: 0 10px 20px #0000001a, 0 5px 10px #0000001a;
 border: 1px solid black !important;
 top: 10% !important;
 width: calc(30% - 2vh + 1px) !important;
 left: 25% !important;
 height: 70% !important;
 margin: 0 !important;
 background: #bbac90 !important;
}
.classicDialog .ui-dialog-content {
 border: none !important;
 overflow: auto;
 position: relative !important;
 text-align: center;
 padding: 0 !important;
 padding-left: 10px !important;
 padding-right: 10px !important;
 margin: 0;
 height: calc(100% - 8vh - 2px) !important;
 background: linear-gradient(#bbaa90 30%, #a29378) !important;
 font-family: 'Vollkorn',serif;
 color: #5f5046;
 font-size: 2.4vh;
}
.classicDialog .ui-dialog-buttonpane {
 background: #bbac90;
 margin-top: 0 !important;
 text-align: center !important; /* background-color:hsla(177, 100%, 0%, 0.27); */
 padding: 0 !important;
 border-top: 1px solid #ded1adb3;
 height: 4vh !important;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}
.classicDialog .ui-widget-header {
 border-radius: 0 0 0 0;
 background: #736b5d;
 border: 0;
 border-bottom: 1px solid #0003;
}
.classicDialog .ui-dialog-buttonset {
 float: none !important;
 display: inline-block;
 margin: 0 auto;
 top: 0;
}
.classicDialog .ui-dialog-titlebar {
 padding: 0 !important;
 height: 4vh;
 overflow: hidden;
}
.classicDialog .ui-button, .classicDialog .ui-button:visited, .classicDialog .ui-button:link, .classicDialog .ui-button:active, .classicDialog .ui-button:focus {
 border: 1px solid #40393266 !important;
 background: #c6b09e !important;
 font-weight: normal;
 color: #3c3c3c !important;
 height: 3vh;
 min-width: 8vmin;
 margin: 0.5vh 1vh !important;
 top: 0 !important;
 font-size: 1.8vh !important;
 font-family: 'Didact Gothic' , sans-serif;
 line-height: 1.5vh;
 padding: 0 1vh calc !important;
 transition: all 0.3s ease;
}
.classicDialog .ui-button:hover {
 border: 1px solid #50494366 !important;
 background: #d7bba5 !important;
 font-weight: normal;
 color: #695447 !important;
}
.ui-dialog.dialogGold .ui-dialog-content {
 background-image: linear-gradient(to top, #683a0080 -20%, #0000 40%), linear-gradient(0.67turn, #5d3c004d, #0000 20%), linear-gradient(0.33turn, #fff5d4, #0000 20%), linear-gradient(to bottom, #f5eba380, #0000 100%), url(../images/UI/bgGold.jpg);
 color: #68452c;
 text-shadow: 0px 0px 4px #fffc;
 font-size: 2em;
 margin-left: 0 !important;
}
.ui-widget-overlay {
 background: #c9c9c9 !important;
 opacity: 0.403 !important;
 transition: all 0.4s ease;
}
.mask {
 top:0;
 left:0;
 z-index:10;
}
.mask {
 display: none;
}
.mask.light {
 opacity:0.3;
}
.mask.deep {
 opacity:0.8;
}
.mask.brown {
 background-color:#8f8472;
}
.mask.lightgrey {
 background-color:#818181;
}
.black_tooltip {
 background-color:#00000080 !important;
 color:white !important;
 border:0 !important;
 border-radius:5px !important;
 font-size:1.8vh !important;
 font-family:'Didact Gothic', sans-serif !important;
}
#dialog {
 position: absolute;
 width:60%;
 min-height:74%; /* background-color: #e7dada; */
 z-index: 12;
 left: -100%;
 top: 7%;
 transition: all 1.2s ease;
}
.dialogIcon {
 height:5.5vw;
 width:7.5vw;
 position: absolute;
 background-color: #f0f0f0;
 border-top-left-radius: 5%;
 top: calc(5%);
 border-bottom-left-radius: 5%;
 border-bottom: 5px solid #0003;
 left: 2.6vw;
}
.dialogIcon svg {
 height:70%;
 top:15%;
 left:15%;
 position: absolute;
 fill: #d44568;
}
#dialogImage {
 right:0;
 width:10vw;
 background-color: #998c7e;
 background-image:url(../images/vertical/items/weapons/branche.png);
 background-size: auto 100%;
 box-shadow: 2px 4px 59px #00000080 inset;
 border: 2px solid #0006;
 box-sizing: border-box;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 border-left: 4px solid #d44568;
 background-position: center center;
}
.dialogBox {
 width:calc(100% - 10vw);
 background-image: linear-gradient(white, #f0dccc);
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
}
.shadow {
 box-shadow:0px 8px 20px #0003, 0px 8px 40px #0006;
 height: 100%;
 width: calc(100% - 10vw);
 left: 10vw;
 position: absolute;
}
#dialogTitle {
 height:10%;
 width:101%;
 position: absolute;
 background-color: #d44568;
 border-bottom:2px solid #0302021a;
 color:#fff;
 text-align: center;
 font-family: 'Didact Gothic', sans-serif;
 font-size: 4vh;
 line-height: -moz-block-height;
 left: -1%;
}
#dialogButtonset {
 height:6vh;
 position: inherit;
 bottom:0;
 width: 100%;
 text-align: center;
 line-height: -moz-block-height;
 border-top: 1px dashed #0003;
}
.dialogButton {
 height: 4.4vh;
 min-width:8vw;
 background-color:#d44568;
 position:  relative;
 display: inline-block;
 color: white;
 font-family: 'Didact Gothic', sans-serif;
 line-height: -moz-block-height;
 border-radius: 5px;
 font-size: 2.5vh;
 box-shadow: 0 2px 3px #0000004d;
 border: 1px solid #0000001a;
 box-sizing: border-box;
 padding: 0 1vw;
 margin: 0 0.5vw;
 display: none;
}
#dialogTextBox {
 height:calc(90% - 6vh);
 top:10%;
 box-sizing: border-box;
 padding: 3vh 2vw;
}
#dialogText {
 font-family: 'Vollkorn',serif;
 font-size: 2.6vh;
 color: #c2786c;
}
.invPanes {
 position: absolute;
 z-index:12;
 transition: all 1s ease;
 box-shadow: 0 0 40px #0003, 0 0 20px #0003;
}
#InvLPane {
 height:100%; /*! background-color: #000000b3; */
 width:38%;
 left: -60%;
}
#InvLPane_Left {
 width:48%;
 background-image: linear-gradient(110deg, #e4d5c0, #a79782);
 box-shadow: 0 0 30px #0006, 0 0 10px #0000001a;
 z-index: 2;
 border-right: 0.35vw solid #0003; /*! box-sizing: border-box; */
}
#InvLPane_Right {
 height: 100%;
 width: 52%;
 position: absolute;
 right: 0;
 background: linear-gradient(110deg, #595146, #36312c);
}
#InvTRPane {
 height:42%;
 width:29%;
 background: linear-gradient(110deg, #62584c, #413c36);
 right: 0;
 top:-100%;
 border-bottom: 6px solid #00000080;
 border-bottom-left-radius: 11px;
}
#InvBRPane {
 height:54%;
 width:29%;
 background-color: #413b33;
 right: 0;
 bottom:-100%;
 border-top-left-radius: 4px;
 opacity:0.8;
}
header#InvBRPane_Title {
 position: absolute;
 width: 102%;
 height: 5vh;
 background-color: #ad9f8b;
 left: -2%;
 border-bottom: 4px solid #0000004d;
 z-index: 3;
 border-bottom-left-radius: 6px;
 font-family: 'Vollkorn',serif;
 line-height: -moz-block-height;
 font-size: 3vh;
 color: #5f5b53;
 padding-left: 2vh;
}
main#InvBRPane_Content {
 position: absolute;
 height: calc(100% - 5vh);
 bottom: 0;
 width: 65%;
 background: linear-gradient(110deg, #62584c, #413c36);
 z-index: 1;
 border-right: 4px solid #0000004d;
 box-sizing: border-box;
}
aside#InvBRPane_Image {
 height: calc(100% - 5vh);
 bottom: 0;
 position: absolute;
 width: 35%;
 right: 0;
 box-shadow: inset 6px 9px 63px #00000080;
 background-color: #877d6f;
 box-sizing: border-box;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
}
.btnInv {
 display: block;
 height: 5vh;
 background-color: #847a6c;
 font-family: 'Vollkorn', sans-serif;
 font-size: 2.6vh;
 line-height: -moz-block-height;
 box-sizing: border-box;
 padding: 0 2vh;
 color: #49402d;
 position: relative;
 transition: all 0.5s ease;
}
.btnInv.nm {
 border-right: 5px solid #0000001a;
 box-shadow: 0 4px 3px #0000001a;
 z-index: 1;
 border-bottom: 3px solid #3231311a;
 border-top: 3px solid #d1bebe1a;
 left: 0;
}
.btnInv.sm { /*! width: 80%; */
 left: 0;
 background-color: #746a5c;
 border: solid #0003;
 box-shadow: inset 0 5px 27px #0000001a;
 border-width: 0 3px 3px 2vh;
}
.icon {
 position: absolute;
 height:4vh;
 top:10%;
 width: 4vh;
 background-repeat: no-repeat;
 line-height: -moz-block-height;
}
.icon.arrowRight {
 background-color:#c4b3b34d;
 mask-image: url(../images/icons/UI/arrowRight.svg);
 mask-size: cover;
}
.icon.right {
 right:1vh;
}
.openable.nm:hover {
 background-color: #7f7567;
}
.openable.sm:hover {
 background-color: #6e6558;
}
.btnItem {
 width: 9vh;
 height: 9vh;
 background: #a19688;
 position: relative;
 display: inline-block;
 margin: 3.5vh 0 0 3.7vh;
 box-sizing: border-box;
 border: 4px solid;
 border-color: #878787 #656565 #656565 #9f9f9f;
 box-shadow: inset 4px 6px 23px #00000080, 4px 5px 5px #0003, -4px -5px 9px #fcf4f41a;
 border-radius: 15px;
}
.btnItem>.item {
 height: 100%;
 width: 100%;
 position: absolute;
 background-repeat: no-repeat;
 background-position: center center;
}
.LLPaneBlock {
 box-sizing: border-box;
 text-align: center;
 font-family: 'Didact Gothic', sans-serif;
}
.LLPaneBlock.bar {
 padding-bottom: 2vh;
 margin-bottom: 1vh;
}
.LLPaneBlock.bar:after {
 content:"";
 height:2px;
 width:80%;
 left:10%;
 position:     absolute; /*! background-color: #0003; */
 bottom: -1px;
 border: 2px solid #0000001a;
 border-radius: 5px;
}
header#InvLPane_LeftHeader {
 height: 12%;
}
.titleLL {
 font-size: 3vh;
 position:  relative;
 left: 0;
 top: 2.5vh;
 color: #8a4973;
}
#InvLPane_LeftArmorBlock {
 height:33%;
}
#InvLPane_LeftWeaponBlock {
 height:9%;
}
#InvLPane_LeftEquippableBlock {
 height:calc(42% - 9vh);
}
.InvFolders {
 display: none;
 top: 0;
}
.maxspace {
 position: absolute;
 height:100%;
 width:100%;
}
.maxheight {
 position: absolute;
 height:100%;
}
.maxheight_rel{
  position:relative;
  height:100%;
}
.maxwidth {
 position: absolute;
 width:100%;
}
.maxwidth_rel{
  position:relative;
  width:100%;
}
.btnInv.title {
 height:4vh;
 font-style: italic;
 border-bottom: 11px solid #3231311a;
 font-size: 2.2vh;
}
.btnInv.nm.active {
 left:3vh;
 background-color: #948879;
 color: #594f3d;
 border-bottom: 1px solid #3231311a;
 border-top: 1px solid #d1bebe1a;
 border-right: 3px solid #0000001a;
}
.btnInv.sm.active {
 left:3vh;
 background-color: #887e6d;
 color: #605648;
 border-width: 0 2px 3px 3vh;
}
.blockItem {
 height: 7vh;
 margin-bottom: 1vh;
}
.EquippedType {
 width: calc(100% - 15vh);
 left: 4vh;
 box-sizing: border-box;
 padding: 0 2vh;
 text-align: left;
 line-height: -moz-block-height;
 font-size: 3vh;
 background-color: #faf5f533;
 position: absolute;
 height: 80%;
 top: 10%;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 color: #a79780;
 box-shadow: 2px 3px 3px #0000001a;
}
.EquippedIcon {
 width:7vh;
 right: 5vh;
 background-color: #c4b6a5;
 box-sizing: border-box;
 border: 2px solid;
 box-shadow: inset 2px 3px 15px #0000001a, 2px 3px 3px #0000001a, -4px -5px 9px #fcf4f400;
 border-radius: 15px;
 border-color: #b6b3b3 #9c9b9b #909090 #bdbdbd;
 display: inline-block;
 background-size: 83%;
 background-repeat: no-repeat;
 background-position: center center;
 transform:rotateY(0deg);
 transition:all 0.3s ease;
}
.itemSymbol{
  height:6vh;width:6vh;
  position: absolute;
  display:inline-block;
  text-align: center;
  top: 1vh;
}
#weaponRightHSymbol{
  right:9%;
}
#weaponLeftHSymbol{
  left: 10%;
}
.itemSymbol svg {
  height:100%;
  display: inline;
  fill: #714c4c;
}
#EquippedIcon_arme{
  left: 28%;
}
#EquippedIcon_arme_right{
  right: 28%;
}
.vide{
  font-size:5vh;
  color: #a5a09733;
  font-family: 'Vollkorn', serid;
  line-height: -moz-block-height;
  left: calc(50% - 5vh);
  position: relative;
}
#EquippedIcon_equippable_ring1{left: 5vh;}
#EquippedIcon_equippable_ring2{left: 11vh;}
#EquippedIcon_equippable_ring3{left: 17vh;}
#EquippedIcon_equippable_ring4{left: 23vh;}
.ringsBoxes{
  top:7vh;
  height: 5vh;
  width: 5vh;
}
.ringsTitle{width: calc(100% - 9.5vh);}
.InvBRPane_ContentSub{
  box-sizing: border-box;
  padding: 2vh 3vh;
  font-family: 'Vollkorn', serif;
  color: #c0b19d;
}
.InvBRPane_ContentSub.underlined:after{
  content: "";
  width:80%;
  height:4px;
  border:1px solid #0000004d;
  position: absolute;
  bottom: 0;
  left: 10%;
  border-radius: 1vw;
}
#InvBRPane_Desc{height:45%;}
#InvBRPane_Dmg{height:20%;}
#InvBRPane_Pow{height:35%;}
#dialogWindow{
  background-color:#ebe4dc;
  z-index: 10;
  bottom:-100%;
  transition: all 1s ease;
}
#Dialog_Image{
  width:23%;
  background-color: #422222;
}
#Dialog_Mainblock{
  width:calc(77% - 11vh);
  left:23%;
  box-shadow: -27px 0 15px #0000001a, -10px 0 7px #0000001a;
  box-sizing: border-box;
  padding: 4vh;
}
#Dialog_TextBubble{
  background: white;
  width: 67%;
  height: 40%;
  position: absolute;
  border-radius: 18px;
  box-sizing: border-box;
  padding: 2vmin;
  font-size: 2.4vmin;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #7c4e4e;
  box-shadow: 0 4px 0 #8383831a;
  z-index:21;
}
#Dialog_TextBubble::before{
  content: "";
  position: absolute;
  bottom: -32px;
  right: 50%;
  height: 30px;
  border-right: 60px solid white;
  background: white;
  border-bottom-right-radius: 80px 50px;
  transform: translate(0, -2px);
  z-index:-1;
  left: 0;
  width: 1vw;
}
#Dialog_TextBubble::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -32px;
    left: 11px;
    width: 60px;
    height: 30px;
    background: #ebe4dc;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    -webkit-transform: translate(-30px, -2px);
    -moz-transform: translate(-30px, -2px);
    -ms-transform: translate(-30px, -2px);
    -o-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
}
#Dialog_TextLines{
  height:calc(60% - 9vh);
  width:85%;
  box-sizing: border-box;
  padding:4vh 2vh;
  position: absolute;
  top: 44%;
  left: 8vw;
}
.dial_me{
  color:#572525;
  font-size: 2.5vmin;
  font-family: 'Didact Gothic', sans-serif;
  margin-bottom: 1vmin;
  display: block;
  transition: color 0.4s ease;
  width: -moz-fit-content;
}
.dial_me:hover{
  color:#7b4242;
}
.dial_me::before{
  content:"-";
}
