/* html {overflow: -moz-scrollbars-none;} */
body{
	background-image:linear-gradient(to bottom, hsla(48,42%,71%,0.4) 0%,hsla(0,0%,0%,0) 100%) , url(../images/UI/Leather.jpg);
	background-size:auto auto;
}
h1{
	color:#fff8cc;
	padding-top:50px;
}
#invContenu, #invContenuSpe, #invContenuObj{
position: fixed;
top: 170px;

background-color: hsla(19.1, 28.2%, 15.3%, 0.5);
box-shadow: 0px -1px 10px #0009;
border-radius: 8px;
}
#invContenu{width: 80%;left: 10%;height: calc(100% - 300px);}
#invContenuSpe{width:40%;left: 30%;height: calc(100% - 300px);text-align:center;}
#invContenuObj{width: 80%;left: 10%;height: calc(100% - 350px); padding-bottom: 70px}
#container1, #container2{
display: inline-block;
width: 50%;
height: 100%;
position: absolute;
font-family: 'Roboto Condensed', sans-serif;
}

#container1{left:0px;}
#container2{right:0px;}

h2{
	display:inline-block;
	color:#150e0a;
	font-size:30px;
	font-family: 'Homemade Apple', cursive;
	padding-top:10px;
	margin-top:5px;
	margin-bottom:10px;
	line-height:50px;
}

.tooltipd {
    position: relative;
    display: inline-block;
}

.tooltipd .tooltiptext,
.tooltipd .tooltiptext2 {
    width: 350px;
	font-family: 'Roboto Slab', sans-serif;
    color: #3b271a;
    border-radius: 6px;
    padding: 5px 0;

    position: fixed;
	top:200px;

    z-index: 20;
    transition: opacity 0.15s linear;
	transition-delay:0.1s;
    opacity: 0;
}
.tooltiptext{left:calc(25% - 120px); text-align: center;}
.tooltiptext2 {left:calc(50% + 20px);text-align:left;}
.tooltipd:hover .tooltiptext,
.tooltipd:hover .tooltiptext2 {
	    opacity: 1;
}
#stuff, #statsCont, #toolsCont, #bgSpe, #bgObj{
background-image: url("../images/UI/leather3.jpg");
margin: 20px;
margin-bottom:0px;
border-radius: 10px;
box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.3);
}
#stuff, #statsCont{height: 240px;}
#statsCont{margin-bottom:20px;}
#bgSpe,#bgObj{height: calc(100% - 90px);}
#bgObj{padding:30px;}
#stufftext, #statsContPaper, #textTool, #stufftextSpe{
background-image: url("../images/UI/bgPaper.jpg");
width: calc( 100% - 10px);
margin: 5px;
border:1px solid #664f4f;
border-radius: 20px;
display: inline-block;
height:calc(100% - 15px);
box-shadow: 0px 1px 1px #0003;
}
#stufftext{	height: 130px;}
#stufftextSpe{height: 100px;}
#inv_arme{
display: inline-block;
border: 3px double #dbba7a;
background-color: hsla(0, 0%, 0%, 0.15);
height: 70px;
width: 70px;
border-radius: 2px;
margin: 20px;
position: absolute;
left: 15px;
top: 150px;
}
#container_armure{
margin: 20px;
background-color: hsla(0, 0%, 0%, 0.15);
border: 3px double #dbba7a;
width: 300px;
text-align: center;
position: absolute;
right: 15px;
top: 150px;
}

.inv_armure{

	height: 70px;
	width:70px;
	border-radius: 2px;
	display:inline-block;
	font-family: 'Roboto Condensed', sans-serif;
}
.inv_item_img{
	display:inline-block;
	position:relative;
	background-color:#dbba7a;
	border:1px solid #3b281c;
	border-radius:8px;
	margin:4px;
}
@media (max-device-width: 1100px){
	.inv_item_img, .inv_armure{
		height: 50px;
		width:50px;
	}
#container_armure{
	width: 220px;
	height:60px;
	padding-right:10px;
	}
#inv_arme{
	height:60px;
	width:60px;
	}
}
h3{
	margin-left:5px;
	font-size:15px;
	color:#f2dab0;
	width:400px;
	display:inline-block;
	position:absolute;
	overflow:hidden;
	margin-top:2px;
}
.inv_item_desc{
	font-size:14px;
	font-style:italic;
	color:#c1ae8d;
	width:420px; height:40px;
	display:inline-block;
	margin-left:5px;
	margin-top:18px;
	position:absolute;
	line-height:16px;
}
#statsText{
	margin-left:20px;
	margin-top: 6px;
	font-size:18px;
    color: #5c432e;
	line-height:10px;
}
.staticon{
	margin-top:6.5px;
	margin-bottom: -6px;
}

#smallercont2{
	background-image: url("../images/UI/leather3.jpg");
	box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.3);
	border-radius:10px;
	text-align: center;
	width: calc(100% - 20px);
	margin: 10px;
    margin-left: 0px;
	margin-top: 20px;
	}
#toolCont{
	padding-top: 20px;
	padding-bottom: 20px;
}
#textTool{
left:calc(50% + 175px);
height: 35px;
border-radius: 10px;
margin-top: 6px;}
.toolCase, .itemClass{
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: #0000004d;
	margin: 4px;
	border-radius:5px;
}
.itemClass{position: relative;}
.itemClass:hover{background-color:#cfcfcf66;}
#bgObj .itemClass{background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 0%, 0) 40%), linear-gradient(to top, hsla(0, 0%, 0%, 0.5) -20px, hsla(0, 0%, 0%, 0) 30%), linear-gradient(90deg, hsla(0, 0%, 0%, 0.3) 0px, hsla(0, 0%, 0%, 0) 40%), linear-gradient(90deg, hsla(0, 0%, 0%, 0.3) 0px, hsla(0, 0%, 0%, 0) 10%), linear-gradient(260deg, hsla(0, 0%, 0%, 0.3) 0px, hsla(0, 0%, 0%, 0) 40%);
border: 1px solid #d8a25c80;}
#bgObj .itemClass:hover{
	/* background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.6) 0%, hsla(0, 0%, 0%, 0) 40%), linear-gradient(to top, hsla(0, 0%, 0%, 0.6) -20px, hsla(0, 0%, 0%, 0) 30%), linear-gradient(90deg, hsla(0, 0%, 0%, 0.4) 0px, hsla(0, 0%, 0%, 0) 40%), linear-gradient(90deg, hsla(0, 0%, 0%, 0.4) 0px, hsla(0, 0%, 0%, 0) 10%), linear-gradient(260deg, hsla(0, 0%, 0%, 0.4) 0px, hsla(0, 0%, 0%, 0) 40%); */
	background-color:#0000001a;
	}
.inv_tool_img{
display: inline-block;
position: absolute;
background-color: #dbba7a;
border-radius: 8px;
margin: 0px;
left: 6px;
top: 6px;
}
#contImgSpe{
	display: inline-block;
width: 70px;
position: absolute;
left: 40px;
top: 40px;
}
#contTextSpe{
display: inline-block;
width: calc(100% - 155px);
position: absolute;
left: 120px;
top: 35px;
}
.selectedText{
	font-family: 'Roboto Condensed', sans-serif;
	color:#503528;
}
.itemClassimg{
background-color: #dbba7a;
border-radius: 8px;
position: absolute;
display: inline-block;
left: 5px;
top: 5px;
}
.btn_objets{
	text-align:center;
box-shadow: 0px 1px 3px #0003;
padding: 10px 0 10px 0;
width: calc(100% - 20px);
font-family: 'Open Sans Condensed', sans-serif;
color: #2c2723;
font-size: 20px;
background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3) 0%, hsla(27.4, 93.4%, 64.1%, 0.1) 20%),url(../images/UI/leather3.jpg);
border-radius: 10px;
border: 1px solid #3e3022e6;
display: block;
}
#invContenuObj .btn_objets, #invContenuSpe .btn_objets{
	width: calc(100% - 40px);
	margin:20px;
}
#vertLeft,#vertRight{display:none;}
header,footer{left:0;width:100%;}
