@import "_mixins";
@import "_transitions";
@import "_d20";
@import "_nightTheme";

#coucoulol {
  position: fixed;
  font-size: 6vh;
  font-family: "Comic Sans MS",
    fantasy;
  color: rgb(255, 0, 229);
  left: 2vw;
  transform: rotate(5deg);
  top: 7vh;
  text-shadow: 0 0 1vh white;
}

body {
  @include noselect;
  @include fullsized;
  @include flexCenterChildren;
  text-align: center;
  font-size: calc(8px + 0.9vh);
  font-family: "Roboto", sans-serif;
  color: rgb(46, 46, 46);
  overflow: hidden;
  box-shadow: none;
}

@import "_background";
@import "_main";
@import "_MOD_notifs";
@import "_MOD_modal";
@import "_MOD_chance";

.overlay {
  @include fullsized;
  z-index: 20;
  display: none;
  transition: all 0.5s ease;

  &.important {
    background: linear-gradient(to top, rgba(39, 0, 0, 0.9), rgb(0, 0, 0));
    z-index: 99;
  }
}


.coinIcon {
  display: inline-block;
  height: 1.7vh;
  width: 1.7vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -0.15vh;

  &.cuivre {
    background-image: url("../../assets/img/ui/pièceCuivre.png");
  }

  &.argent {
    background-image: url("../../assets/img/ui/pièceArgent.png");
  }

  &.or {
    background-image: url("../../assets/img/ui/pièceOr.png");
  }
}

// * .begariannes {
//   background-image: url("../../assets/img/bg/prop/bégariannes.gif");
//   position: absolute;
//   width: 15vh;
//   height: 15vh;
//   left: 20vh;
//   bottom: 10vh;
//   background-size: contain;
//   z-index: 60;
//   display: none;
// }

nav.playerMenu {
  position: absolute;
  height: 93vh;
  width: 36vw;
  background-color: rgb(44, 44, 44);
  bottom: -85vh;
  right: 4vw;
  color: white;
  line-height: 8vh;
  transition: bottom 0.4s ease;

  .head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
  }

  .content {
    position: absolute;
    top: 8vh;
    margin: 0vh 2vw 3vh 2vw;
    width: calc(100% - 4vw);
    height: calc(100% - 11vh);
    background-color: rgb(21, 21, 21);
    box-sizing: border-box;
    border-top: 3px solid rgb(7, 7, 7);
    border-bottom: 3px solid rgb(57, 57, 57);
    box-shadow: inset 0vh 1vh 1vh rgba(0, 0, 0, 0.29);
    overflow: hidden;
    padding-top: 1vw;
    line-height: 2vw;
    font-size: 1px;
    text-overflow: ellipsis;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: baseline;

  }

  nav.playerMenu {

    color: rgb(255, 255, 255);
    line-height: 8vh;

  }

  body {

    text-align: center;
    font-size: calc(8px + 0.9vh);
    font-family: "Roboto", sans-serif;
    color: rgb(46, 46, 46);

  }

  html {

    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

  }

  .cat_btn {
    position: relative;
    background-color: rgb(54, 45, 43);
    height: 11vw;
    width: 11vw;
    display: inline-block;
    margin: 1vh;
    border-radius: 0.5vh;
    overflow: hidden;
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.12);
    max-height: 16.4vh;
    max-width: 16.4vh;
    min-width: 75px;
    min-height: 75px;

    .label {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3vh;
      overflow: hidden;
      line-height: 3vh;
      font-size: calc(3px + 1.2vh);
      font-family: "Fira Sans",
        sans-serif;
      color: rgb(132, 85, 73);
      background-color: rgb(45, 36, 34);
      text-transform: uppercase;
      text-overflow: "..";
      box-sizing: border-box;
      padding: 0 1vh;

    }
  }
}

.gameMenu {
  position: relative;
  max-height: 50vh;
  width: 40vh;
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);
  display: none;
  opacity: 0;
  z-index: 100;
  font-family: "Fira Sans";

  .head {
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: rgb(34, 34, 34);
    line-height: 5vh;
    color: rgb(142, 142, 142);
    font-weight: 500;
  }

  .content {
    position: relative;
    width: 100%;
    height: calc(100% - 5vh);
    box-sizing: border-box;
    padding: 4vh 2vh 5vh;

    .btn {
      display: block;
      background-color: rgb(68, 68, 68);
      height: 4vh;
      border-radius: 0.2vh;
      line-height: 4vh;
      font-size: 95%;
      color: rgb(126, 126, 126);
      transition: 0.2s;

      &+.btn {
        margin-top: 3vh;
      }

      &:hover {
        filter: contrast(1.1) brightness(1.2);
      }

      &:active {
        filter: contrast(1.1) brightness(1.4);
      }
    }
  }
}

#devMenu {
  position: absolute;
  z-index: 80;
  display: none;
  top: 0;
  left: 27.5vw;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden auto;

  &>.main>ul>.folder>.dg>ul>.title {
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;

  }

  &>.main>ul>.folder>.dg>ul>.folder>.dg>ul>.title {
    color: rgb(130, 129, 129);
    overflow: hidden;
    white-space: nowrap;
  }

  .dg {
    font-family: "Fira Sans", sans-serif;

    .property-name {
      font-size: calc(5px + 0.7vh);
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
    }

    .c {
      float: right;
      width: auto;

      input {
        float: right;

        &[type="text"] {
          max-width: 3vw;
        }
      }
    }
  }

  .close-bottom {
    display: none;
  }

  .dg.main {
    width: 32vw !important;
  }
}