@import "_mixins";
@import "_transitions";
@import "_d20";
@import "_nightTheme";

#coucoulol {
  position: fixed;
  font-size:6vh;
  font-family: "Comic Sans MS",
  fantasy;
  color: rgb(255, 0, 229);
  left: 2vw;
  transform: rotate(5deg);
  top: 7vh;
  text-shadow: 0 0 1vh white;
}

body {
  @include noselect;
  @include fullsized;
  @include flexCenterChildren;
  text-align: center;
  font-size: calc(8px + 0.9vh);
  font-family: "Roboto", sans-serif;
  color: rgb(46, 46, 46);
  overflow: hidden;
  box-shadow: none;
}

@import "_background";
@import "_main";
@import "_MOD_notifs";
@import "_MOD_modal";
@import "_MOD_chance";

.overlay {
  @include fullsized;
  z-index: 20;
  display: none;
  transition: all 0.5s ease;

  &.important {
    background: linear-gradient(to top, rgba(39, 0, 0, 0.9), rgb(0, 0, 0));
    z-index: 99;
  }
}


.coinIcon {
  display: inline-block;
  height: 1.7vh;
  width: 1.7vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -0.15vh;

  &.cuivre {
    background-image: url("../../assets/img/ui/pièceCuivre.png");
  }

  &.argent {
    background-image: url("../../assets/img/ui/pièceArgent.png");
  }

  &.or {
    background-image: url("../../assets/img/ui/pièceOr.png");
  }
}

* .begariannes {
  background-image: url("../../assets/img/bg/prop/bégariannes.gif");
  position: absolute;
  width: 15vh;
  height: 15vh;
  left: 20vh;
  bottom: 10vh;
  background-size: contain;
  z-index: 60;
  display: none;
}

nav.playerMenu {
  position: absolute;
  height: 60vh;
  width: 36vw;
  background-color: rgb(44, 44, 44);
  bottom: -52vh;
  right: 4vw;
  color: white;
  line-height: 8vh;
}

.gameMenu {
  position: relative;
  max-height: 50vh;
  width: 40vh;
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);
  display: none;
  opacity: 0;
  z-index: 100;
  font-family: "Fira Sans";

  .head {
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: rgb(34, 34, 34);
    line-height: 5vh;
    color: rgb(142, 142, 142);
    font-weight: 500;
  }

  .content {
    position: relative;
    width: 100%;
    height: calc(100% - 5vh);
    box-sizing: border-box;
    padding: 4vh 2vh 5vh;

    .btn {
      display: block;
      background-color: rgb(68, 68, 68);
      height: 4vh;
      border-radius: 0.2vh;
      line-height: 4vh;
      font-size: 95%;
      color: rgb(126, 126, 126);

      &+.btn {
        margin-top: 3vh;
      }
    }
  }
}

#devMenu {
  position: absolute;
  z-index: 80;
  display: none;
  top: 0;
  left: 27.5vw;
  opacity: 0;

  &>.main>ul>.folder>.dg>ul>.title {
    font-weight: 500;

  }

  &>.main>ul>.folder>.dg>ul>.folder>.dg>ul>.title {
    color: rgb(130, 129, 129);
  }

  .dg {
    font-family: "Fira Sans", sans-serif;
  }

}