@import "_transitions";
@import "_d20";
@import "_nightTheme";

@mixin fullsized {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flexCenterChildren {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cloud($CloudSpeed) {
  @include fullsized;
  height: 40%;

  background: {
    size: cover;
    repeat: repeat;
  }

  transform: translateZ();
  animation: slide #{$CloudSpeed}s linear infinite;
}

body {
  @include noselect;
  @include fullsized;
  @include flexCenterChildren;
  text-align: center;
  font-size: 1.98vh;
  font-family: "Roboto", sans-serif;
  color: rgb(46, 46, 46);
  overflow: hidden;
}

.background {
  @include fullsized;
  transition: background-color 1s ease;
  left: 0;
  z-index: -1;
  background-color: #c9e0fb;

  .cover {
    @include fullsized;

    &.-mid {
      z-index: 5;

      background: {
        size: 100% auto;
        position: bottom;
        repeat: no-repeat;
      }
    }

    &.-back {
      z-index: 2;

      background: {
        size: 100% auto;
        position: bottom;
        repeat: no-repeat;
      }
    }

    &.-fore {
      z-index: 6;

      background: {
        size: auto 100%;
        position: bottom;
        repeat: no-repeat;
      }
    }
  }

  .clouds {
    &.-front {
      @include cloud(150);
      z-index: 3;
      background-image: url("../../assets/img/bg/clouds/Fore01.png");
    }

    &.-back {
      @include cloud(200);
      z-index: 1;
      margin-top: 11vh;
      background-image: url("../../assets/img/bg/clouds/Back01.png");
    }
  }

  .sun {
    $SunColor: rgb(244, 255, 250);
    z-index: 4;
    position: absolute;
    top: 6vh;
    left: 20vw;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: $SunColor;
    box-shadow: 0 0 33vh 19vh $SunColor, 0 0 9vh 6vh $SunColor;
  }

  .prop {
    z-index: 6;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .stars {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/img/bg/stars.png");
    background-size: 220px auto;
    left: 0;
    top: 0;
    // animation: spinStars 800s linear forwards infinite;
  }
}

main.main {
  width: 36vw;
  height: 77vh;
  background-color: rgb(189, 178, 158);
  position: absolute;
  box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, .15);
  background-image: linear-gradient(rgb(212, 199, 175), rgb(174, 163, 145));
  right: 4vw;
  margin-bottom: 8vh;
  transition: all 1s ease;

  &::before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border: 2px solid;
    border-color: rgba(111, 104, 92, 0.23);
    pointer-events: none;
  }

  .textbox {
    position: relative;
    width: 90%;
    left: 5%;
    background-color: rgb(216, 207, 193);
    padding: 3vh;
    box-sizing: border-box;
    font-size: calc(8px + 0.8vh);
    letter-spacing: calc(0.01px + 0.01vw);
    transition: all 1s ease;

    .click {
      color: rgb(39, 133, 84);
      cursor: pointer;
      transition: all 1s ease;
    }

    &+.textbox {
      margin-top: 2vh;
    }

    &::before {
      content: " ";
      position: absolute;
      z-index: 0;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border: 2px solid;
      border-color: rgba(111, 104, 92, 0.23);
      pointer-events: none;
    }

    &.title {
      font-family: "Roboto Slab", sans-serif;
      margin-top: 4vh;
      background-color: rgb(142, 173, 153);
      color: white;
      font-size: calc(3px + 2.5vh);

      &::before {
        border-color: rgba(223, 243, 239, 0.2);
      }
    }

    &.scene,
    &.story {
      background-color: rgb(216, 207, 193);
      box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, 0.07);
      border-left: 8px solid rgb(133, 186, 140);

      &::before {
        border-color: transparent;
      }
    }

    &.extra,
    &.scene {
      font-style: italic;
      color: rgba(0, 0, 0, 0.53);
    }
  }

  .extrasContainer {
    margin-top: 2vh;

    .textbox {
      text-align: left;
      font-family: "Fira Sans";

      &.hasimg {
        padding-left: 9vh;
        padding-top: 2vh;
        min-height: 9vh;
        padding-bottom: 2vh;
      }

      .img {
        height: 5vh;
        width: 4.5vh;
        position: absolute;
        top: 2vh;
        left: 2.2vh;
        background-repeat: no-repeat;
        background-color: rgb(76, 74, 74);
        box-sizing: border-box;
        background-size: auto 83%;
        background-position: center;
        border-radius: 1.2vh;
        box-shadow: 0 0.1vh 0.5vh rgba(0, 0, 0, .24);
      }
    }
  }

  #actionmenu {
    position: fixed;
    background-color: rgb(209, 201, 193);
    min-width: 42vh;
    min-height: 12vh;
    display: none;
    box-shadow: 0 0.3vh 1vh rgba(0, 0, 0, 0.2), 0 1vh 3vh rgba(0, 0, 0, 0.21);
    border-radius: 1vh;
    opacity: 0;
    transform: scale(1);
    transform-origin: top center;

    header {
      background-color: rgb(122, 180, 142);
      color: rgb(255, 255, 255);
      padding: 1vh 0.8vh 0.8vh;
      border-top-left-radius: 1vh;
      border-top-right-radius: 1vh;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 1.5vh 0 2vh;
      max-height: 23vh;
      overflow: auto;

      li {
        margin: 0 3vh;
        transition: all 0.2s ease;
        padding: 0.7vh;
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: 1.1vh;
        font-family: "Roboto Slab";
        color: rgb(102, 76, 104);
        font-size: 1.8vh;
        box-sizing: border-box;

        &+li {
          margin-top: 1vh;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.34);
        }

        &:active {
          background-color: white;
        }

        &.rightClick {
          &::before {
            content: " ";
            height: 2vh;
            width: 2vh;
            background-image: url("../../assets/img/ui/RmouseClick.png");
            position: absolute;
            background-size: contain;
            right: 4vh;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

nav.gameMenu {
  position: absolute;
  height: 60vh;
  width: 36vw;
  background-color: rgb(44, 44, 44);
  bottom: -52vh;
  right: 4vw;
  color: white;
  line-height: 8vh;
}

.notifications {
  position: absolute;
  top: 0;
  left: 2vh;
  max-height: 50vh;
  width: 25vw;
  z-index: 30;

  .notif {
    top: 0;
    width: 100%;
    padding: 1.8vh 0.5vw;
    box-sizing: border-box;
    box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, .07);
    font-size: 1.92vh;
    text-shadow: 0 1px 2px #0003;
    margin: 2vh 0;
    background-image: linear-gradient(162deg, #5acecf, #4350bc);
    color: white;
    position: relative;
    opacity: 0;
    transform: translateY(-5vh);
    font-size: 1.8vh;
    line-height: 1.2;
    font-style: normal;

    .btns {
      display: inline-block;

      .btn {
        box-sizing: border-box;
        border: 1px solid #fff;
        display: inline-block;
        margin: 3px 1vh;
        padding: 0.2vh 1vh;
        border-radius: 0.5vh;
        text-shadow: none;
        background-image: linear-gradient(transparent, #fff3);
        transition: background-color 0.3s ease;
        font-size: 90%;
        font-weight: 300;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .close {
      position: absolute;
      right: 1vh;
      background-image: url("../../assets/img/ui/close.png");
      background-size: 47%;
      background-repeat: no-repeat;
      height: 100%;
      width: 1.5vw;
      top: 0;
      background-position: center;
      filter: invert(100%) drop-shadow(0 1px 2px #0000004d);

      &:hover {
        cursor: pointer;
      }
    }

    .icon {
      position: absolute;
      left: 0.5vw;
      top: 0;
      width: 1.2vw;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.8;
      filter: invert(100);
    }

    .progressBar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;

      .progress {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: 0.1s linear;
      }
    }

    i {
      font-weight: 100;
      opacity: 0.7;
      font-family: 'Fira Sans';
      display: block;
      margin-top: 0.8vh;
      border-top: 1px solid;
      padding-top: 1vh;
      width: 80%;
      left: 10%;
      position: relative;
    }
  }
}

.modal {
  z-index: 21;
  display: none;
  position: absolute;
  max-height: 70vh;
  width: 68vh;
  background: linear-gradient(rgb(222, 214, 208), rgb(194, 181, 181));
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateX(0vh);

  // &::before {
  //   display: block;
  //   content: "";
  //   border-image: url('../../assets/img/ui/border.png') 190 178 190 178 stretch;
  //   border-style: solid;
  //   border-width: 9vh;
  //   position: absolute;
  //   top: -1vh;
  //   left: -1vh;
  //   width: calc(100% - 16vh);
  //   height: calc(100% - 16vh);
  //   pointer-events: none;
  //   z-index: 1;
  // }

  header {
    background-color: blue;
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    color: white;
  }

  main {
    margin: 3vh 4vh;

    .btns {
      margin-top: 2vh;

      .btn {
        margin: 1vh 3vh;
        display: inline-block;
        padding: 0.5vh 2vh;
        flex: 0;
        position: relative;
        min-width: 5vw;
        border-radius: 0.3vh;
        color: white;
        background-color: rgb(0, 184, 94);
        background-image: linear-gradient(171deg, rgba(255, 255, 255, 0.38), transparent), linear-gradient(201deg, rgba(76, 76, 76, 0.13), transparent);
        transition: all 0.35s ease;
        box-shadow: 0 1px 4px rgba(99, 93, 83, 0.3);
        filter: none;

        &:hover {
          filter: saturate(1.5);
        }

        &:active {
          background-color: rgb(0, 184, 94);
          filter: brightness(1.1) saturate(1.5);
        }

        &+.btn {
          margin-left: 0;
        }
      }
    }
  }

  .txt {
    line-height: 1.4;
  }

  .img {
    display: none;
  }

  &.withImage {
    transform: translateX(10vh);
    min-height: 60vh;

    .img {
      display: block;
      position: absolute;
      height: 100%;
      width: 27vh;
      background-color: white;
      top: 0;
      right: 100%;
      background-size: cover;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      z-index: -1;
      border-top: 0.7vh solid;
      box-sizing: border-box;
      background-position: center;
    }
  }
}

.overlay {
  @include fullsized;
  z-index: 20;
  background-color: rgba(61, 49, 25, 0.4);
  display: none;
  transition: all 0.5s ease;
}

.chance {
  display: none;
  opacity: 0;
  position: absolute;
  width: 90vh;
  height: 58vh;
  z-index: 22;
  background-color: #4e0f22;
  background-image: url("../../assets/img/ui/testChanceBG.png");
  background-size: contain;
  font-family: 'Vollkorn';
  border: 1px solid black;
  box-shadow: 0 0 56vh black;

  main {
    position: absolute;
    left: calc(2.6vh + 7px);
    bottom: calc(7px + 3.3vh);
    height: 40vh;
    width: 53vh;
    box-sizing: border-box;
    border-radius: 0.5vh;
  }

  aside {
    position: absolute;
    height: 39vh;
    width: 19vh;
    right: 8.4vh;
    top: 10vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 2vh;
    box-sizing: border-box;
    border-radius: .5vh;

    .cat {
      margin-top: 4vh;
      text-shadow: none;
      transition: all 0.3s ease;
      opacity: 0.6;

      &:nth-child(1) {
        margin-top: 0;
      }

      h2 {
        font-size: 2vh;
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
        color: #410506;
        letter-spacing: 1.2px;
        text-shadow: none;
        transition: all 0.3s ease;
      }
    }
  }
}

.coinIcon {
  display: inline-block;
  height: 1.7vh;
  width: 1.7vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -0.15vh;

  &.cuivre {
    background-image: url("../../assets/img/ui/pièceCuivre.png");
  }

  &.argent {
    background-image: url("../../assets/img/ui/pièceArgent.png");
  }

  &.or {
    background-image: url("../../assets/img/ui/pièceOr.png");
  }
}

* .begariannes {
  background-image: url("../../assets/img/bg/prop/bégariannes.gif");
  position: absolute;
  width: 15vh;
  height: 15vh;
  left: 20vh;
  bottom: 10vh;
  background-size: contain;
  z-index: 60;
  display: none;
}