doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    title Rework
    //- preload des fonts avant de les load dans _fontLoad.scss
    link(rel="preload" src="fonts/roboto-v18-latin-regular.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" src="fonts/roboto-v18-latin-italic.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" src="fonts/roboto-slab-v7-latin-regular.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" src="fonts/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" src="fonts/FiraSans-Italic.woff2" as="font" type="font/woff2" crossorigin)
    //- css
    link(rel='stylesheet' type='text/css' href='css/fontLoad.css')
    link(rel='stylesheet' type='text/css' href='../lib/normalize.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
    //- librairies js
    script(src='../lib/cash-2.3.9.min.js')
    script(src='../lib/dat.gui.min.js')
    script(src='../lib/spell-min.js')
    //- scripts js devant s'éxécuter pendant le chargement de la page
    script(src='js/load.js')
  body
    include main.pug
    script(src='js/scripts.js')