doctype html
html
  head
    meta(charset='utf-8')
    title Rework
    link(rel='stylesheet' type='text/css' href='../lib/normalize.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
    // <script src="../lib/jquery-3.3.0.min.js"></script>
    script(src='../lib/cash-2.3.9.min.js')
    // <script src="../lib/zepto.min.js"></script>
    // <script src="../lib/zepto_fx_methods.js"></script>
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans|Vollkorn|Didact+Gothic|Roboto+Slab' rel='stylesheet')
    script(src='js/load.js')
  body|
    |include "main.html"
    |
    script(src='js/scripts.js')
