.background
  .clouds.-back
  .cover.-back
  .clouds.-front
  .cover.-mid
  .cover.-fore
  .sun
  .stars
  .prop.object
  .begariannes
main.main
  .textbox.title
  .notTitle
    .textbox.scene
    .textbox.story
    .extrasContainer
  .overflowGradient.bot
  .overflowGradient.top
  .overflowIndicator ...
  #actionmenu
    header
      // Titre généré par la fonction clickOnTrigger()
    ul
      // Actions générées par la fonction clickOnTrigger()
nav.playerMenu
.notifications
.overlay.normal
.overlay.important
.modal
  header
  main
    .txt
    .btns
  .img
  .overflowGradient.bot
  .overflowGradient.top
  .overflowIndicator ...
.gameMenu
  .head Menu
  .content
    a.btn(onclick="files.save();alert('Sauvegardé');") Sauvegarder
    a.btn(onclick="files.load();gameMenu.hide()") Charger
    a.btn Crédits
    a.btn Quitter le jeu
#devMenu
.chance
  main
    section#d20
      #cube.show-10
        figure.face01 1
        figure.face02 2
        figure.face03 3
        figure.face04 4
        figure.face05 5
        figure.face06 6
        figure.face07 7
        figure.face08 8
        figure.face09 9
        figure.face10 10
        figure.face11 11
        figure.face12 12
        figure.face13 13
        figure.face14 14
        figure.face15 15
        figure.face16 16
        figure.face17 17
        figure.face18 18
        figure.face19 19
        figure.face20 20
  aside
