.background
  .clouds.-back
  .cover.-back
  .clouds.-front
  .cover.-mid
  .cover.-fore
  .sun
  .stars
  .prop.object
main.main
  .textbox.title
  .textbox.scene
  .textbox.story
  .extrasContainer
  #actionmenu
    header
      // Titre généré par la fonction clickOnTrigger()
    ul
      // Actions générées par la fonction clickOnTrigger()
nav
.notifications
.overlay
.modal
  header
  main
    .txt
    .btns
  .img
